#drop-area {   
    width: 480px; 
    margin: 10px auto;
    font-family: sans-serif;
    text-align: center;
}
.white-frame {
    border: 2px dashed #ccc;
    border-radius: 20px;
    padding: 20px;
}
@media (min-width: 1250px) and (min-height: 800px) 
{
    #drop-area{
        margin: calc(50vh - 400px) auto 10px;
    }    
}
.invisible_elem{
    visibility: hidden;
}
#drop-area.highlight {
    border-color: #f1ad17;
}
.button {
    display: inline-block;
    padding: 10px;
    background: #21a0af;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button:hover {
    background: #f1ad17;
}
#fileElem {
    display: none;
}
label {
    font-family: "Fira Sans", sans-serif;
}
input{
    text-align: center;
    width: 10em;
    color: #fff;
    margin-top: 10px;
    background-color: #21a0af;
    border-radius: 5px;
}
INPUT.default {

    border: 1px solid #ccc;
}
INPUT.red {
    border: 2px solid red;
}
.choice-box{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 15em;
    color: #fff;
}

.my-form{
    text-align: center;
    color: #fff;
}

h1{
    text-align: center;
    font-family: sans-serif;
    color: #fff;
}
#res-label{
    text-align: center;
    font-family: sans-serif;
    margin: 2px;
    color: #fff
}
canvas { 
    display: block;
}
#show-area {
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0%;
    margin: 0%;
}

#result-area {
    margin: 10px auto;
    width: 200px;
}

body{
    text-align:center;
    background: linear-gradient(0deg, #150724, #16355a);
    color: white;
    align-content: center;
    vertical-align: middle;
    text-align: center;
    display: flex; 
}
.horizontal-layout{
    float: left;
    width: 50vw;
    margin: 10px;
    vertical-align: middle;
}

#comment-area {
    width: 480px;
    margin: 10px auto;
}
#test-result-info {
    width: 480px;
    margin: 10px auto;
}

ul {
    text-align: left;
}


/*TODO : convas vertical center, load image