#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    margin: 10px auto;
    padding: 20px;
}
.visible_elem{
    visibility: visible;    
}
.invisible_elem{
    height: 0px;
    visibility: hidden;
}
#drop-area.highlight {
    border-color: purple;
}
p {
    margin-top: 0;
}
.my-form {
    margin-bottom: 1px;
}
#gallery {
    margin-top: 1px;
}
#gallery img {
    width: 150px;
    margin-bottom: 1px;
    margin-right: 1px;
    vertical-align: middle;
}
.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button:hover {
    background: #ddd;
}
#fileElem {
    display: none;
}
label {
    font-family: "Fira Sans", sans-serif;
}
input{
    text-align: center;
    width: 10em;
}
INPUT.default {
    border: 1px solid #ccc;
}
INPUT.red {
    border: 2px solid red;
}
.choice-box{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 15em;
}

.my-form{
    text-align: center;
}

h1{
    text-align: center;
    font-family: sans-serif;
}
.res-label{
    text-align: center;
    font-family: sans-serif;
    margin: 2px;
}
canvas { 
    display: block; 
    width: 500;
    height: 500;
}

